.heroes {
    display:flex;
    width:60%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    text-align: center;
}

.herodiv {
    flex-grow: 1;
    flex-basis: 0;
    border:1px solid transparent;
}

.herodiv:hover {
    border:1px solid #F3CD2C;
}

.card {
    background-color: transparent;
}
.card:hover {
    cursor: pointer;
}

.card-img-top {
    width: 70%;
    margin:auto;
}

#gameStartNotificationModal {
    display: none;
}

@media screen and (max-width: 500px) {
    .heroes {
        display:block;
    }
  }